{% extends 'TvisionBundlesStatBundle:Default:index.html.twig' %}

{% block content %}
          <div class="article">
          <h2>Login</h2>
        
            {% for key, message in app.session.getFlashes() %}
            <div class="{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
            {% endfor %}
    
            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>         
       </div>
    {{ parent() }}
{% endblock %}


