{% extends 'TvisionBundlesStatBundle:Default:index.html.twig' %}

{% block login %}
          <div class="gadget">
          <h2>Login</h2>
        
    
            {% for key, message in app.session.getFlashes() %}
            <div class="{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
            {% endfor %}
    
            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
         
       </div>
{% endblock %}
